<?php

// set your inwx username and password here
$inwxUser = '@@@inww_username@@@';
$inwxPassword = '@@@inww_password@@@';

$addr = "https://api.domrobot.com/xmlrpc/";
// for debug purposes
//$addr = "https://api.ote.domrobot.com/xmlrpc/";

$debug = false;

$domains = array();
$usr = "@@@fritzbox_user_entry@@@";
$pass = "@@@fritzbox_password_entry@@@";

$domains[1] = "@@@domain.one@@@";
//$domains[2] = "@@@domain.two@@@";
//$domains[3] = "@@@domain.three@@@";
// ...
?>
